[user]
	name = dekokun
	email = shintaro.kurachi@gmail.com
[core]
	editor = /usr/bin/env vim
	excludesfile = ~/.gitignore_global
	quotepath = false
	attributesfile = ~/.gitattributes_global
[color]
	diff = auto
	status = auto
	branch = auto
[merge]
	conflictstyle = diff3
[alias]
	graph = log --oneline --decorate --graph --color
	ignore = !"f() { local s=$1; shift; \
		while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
		curl "http://gitignore.io/api/$s"; }; f"
	c = commit -v
	o = checkout
	co = checkout
	p = pull
	pu = push
	cob = checkout -b
	l = log --color --decorate
	d = diff --color-words
	s = status --short --branch
	dc = diff --color-words --cached
	a = add
	b = branch
[credential]
	helper = osxkeychain
[push]
	default = simple
[include]
	path = .gitconfig.local
